<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- StoreMapper.xml -->
<mapper namespace="com.nnzz.nnzz.repository.FindStoreMapper">

    <!-- 서울
    서초구, 강남구, 송파구, 강동구,
    동작구, 관악구, 영등포구, 금천구, 구로구
    양천구, 강서구
    마포구, 용산구, 성동구, 광진구
    서대문구, 동대문구, 중구, 은평구, 종로구
    도봉구, 노원구
    에서 서비스 중입니다.-->
    <select id="getAvailableRegion" resultType="Boolean">
    <![CDATA[
        SELECT CASE
                   WHEN EXISTS (
                       SELECT 1
                       FROM sig
                       WHERE sig_cd IN(
                                '11650', '11680', '11710', '11740',
                                '11590', '11620', '11560', '11545', '11530',
                                '11470', '11500',
                                '11170', '11200', '11215', '11440',
                                '11410', '11230', '11140', '11380', '11110',
                                '11320', '11350'
                           )
                         and ST_Contains(geom, ST_SetSRID(ST_MakePoint(#{currentLong}, #{currentLat}), 4326))
                   ) THEN true
                   ELSE false
                   END
        ]]>
    </select>



    <!-- 1단계: 반경 750m 안의 store_id 가져오기 -->
    <select id="get750NearbyStoreIds" resultType="String">
        <![CDATA[
        SELECT store_id
        FROM store
        WHERE ST_DistanceSphere(location, ST_GeomFromText(CONCAT('POINT(', #{currentLong}, ' ', #{currentLat}, ')'), 4326)) <= 750
        ]]>
    </select>

    <!-- 1단계: 반경 500m 안의 store_id 가져오기 -->
    <select id="get500NearbyStoreIds" resultType="String">
        <![CDATA[
        SELECT store_id
        FROM store
        WHERE ST_DistanceSphere(location, ST_GeomFromText(CONCAT('POINT(', #{currentLong}, ' ', #{currentLat}, ')'), 4326)) <= 750
        ]]>
    </select>

    <!-- 1단계: 반경 250m 안의 store_id 가져오기 -->
    <select id="get250NearbyStoreIds" resultType="String">
        <![CDATA[
        SELECT store_id
        FROM store
        WHERE ST_DistanceSphere(location, ST_GeomFromText(CONCAT('POINT(', #{currentLong}, ' ', #{currentLat}, ')'), 4326)) <= 750
        ]]>
    </select>

    <!-- 2단계: 폐업하지 않았고 business_hours에서 조건에 맞는 점심 가능 store_id 가져오기 -->
    <select id="getLunchValidStoreIds" resultType="String">
        <![CDATA[
        SELECT DISTINCT bh.store_id
        FROM business_hours bh
        INNER JOIN store s ON bh.store_id = s.store_id
        WHERE s.close = false
          AND bh.${currentDay} NOT LIKE '%휴무%'
        ]]>
        <if test="storeIds != null and storeIds.size() > 0">
            AND bh.store_id IN
            <foreach item="storeId" collection="storeIds" open="(" separator="," close=")">
                #{storeId}
            </foreach>
        </if>
        <![CDATA[
          AND EXISTS(
        SELECT 1
        FROM business_hours bh2
        WHERE bh2.store_id = bh.store_id
        AND (
            (bh2.business_type = 'O0001' AND
            (bh2.${currentDay} IS NOT NULL AND
            bh2.${currentDay} NOT IN ('휴무', '정기휴무', '') AND
            (bh2.${currentDay}::text NOT LIKE '%휴무%' AND TO_CHAR(bh2.${currentDay}::time, 'HH24:MI') <= '12:00')))
        OR (bh2.business_type = 'C0001' AND
            (bh2.${currentDay} IS NOT NULL AND
            bh2.${currentDay} NOT IN ('휴무', '정기휴무', '') AND
            (bh2.${currentDay}::text NOT LIKE '%휴무%' AND TO_CHAR(bh2.${currentDay}::time, 'HH24:MI') >= '12:00')))
            )
        )
        ]]>
    </select>

    <!-- 2단계: 폐업하지 않았고 business_hours에서 조건에 맞는 저녁 가능 store_id 가져오기 -->
    <select id="getDinnerValidStoreIds" resultType="String">
        <![CDATA[
        SELECT DISTINCT bh.store_id
        FROM business_hours bh
        INNER JOIN store s ON bh.store_id = s.store_id
        WHERE s.close = false
          AND bh.${currentDay} NOT LIKE '%휴무%'
        ]]>
        <if test="storeIds != null and storeIds.size() > 0">
            AND bh.store_id IN
            <foreach item="storeId" collection="storeIds" open="(" separator="," close=")">
                #{storeId}
            </foreach>
        </if>
        <![CDATA[
        AND EXISTS (
            SELECT 1
            FROM business_hours bh2
            WHERE bh2.store_id = bh.store_id
            AND bh2.business_type = 'O0001'
            AND bh2.${currentDay} IS NOT NULL
            AND bh2.${currentDay} NOT IN ('휴무', '정기휴무', '')
            AND bh2.${currentDay}::text NOT LIKE '%휴무%'
            AND TO_CHAR(bh2.${currentDay}::time, 'HH24:MI') <= '18:00'
        )
        AND EXISTS (
            SELECT 1
            FROM business_hours bh3, business_hours bh4
            WHERE bh3.store_id = bh.store_id
            AND bh4.store_id = bh.store_id
            AND bh3.business_type = 'C0001'
            AND bh4.business_type = 'O0001'
            AND bh3.${currentDay} IS NOT NULL
            AND bh3.${currentDay} NOT IN ('휴무', '정기휴무', '')
            AND bh3.${currentDay}::text NOT LIKE '%휴무%'
            AND bh4.${currentDay} IS NOT NULL
            AND bh4.${currentDay} NOT IN ('휴무', '정기휴무', '')
            AND bh4.${currentDay}::text NOT LIKE '%휴무%'
            AND (
                (TO_CHAR(bh4.${currentDay}::time, 'HH24:MI') <= TO_CHAR(bh3.${currentDay}::time, 'HH24:MI')
                AND TO_CHAR(bh3.${currentDay}::time, 'HH24:MI') >= '18:00')
                OR
                (TO_CHAR(bh4.${currentDay}::time, 'HH24:MI') > TO_CHAR(bh3.${currentDay}::time, 'HH24:MI')
                AND TO_CHAR(bh3.${currentDay}::time, 'HH24:MI') < '18:00')
            )
        )
        ]]>
    </select>



    <!-- 3단계: 최종적으로 category 가져오기 -->
    <resultMap id="categoryResultMap" type="CategoryDTO">
        <result property="category" column="category"/>
        <result property="categoryId" column="food_type_id"/>
        <result property="distance" column="distance"/>
        <result property="represent" column="represent"/>
    </resultMap>

    <select id="getCategories" resultMap="categoryResultMap">
        <![CDATA[
        WITH StoreFoodTypes AS (
            SELECT DISTINCT s.category AS store_category,
            FLOOR(MIN(ST_DistanceSphere(location, ST_GeomFromText(CONCAT('POINT(', #{currentLong}, ' ', #{currentLat}, ')'), 4326)))) AS distance
        FROM store s
        WHERE s.store_id IN
        ]]>
            <foreach item="storeId" collection="storeIds" open="(" separator="," close=")">
                #{storeId}
            </foreach>
        <![CDATA[
            GROUP BY s.category
        ),
        RankedFoodTypes AS (
            SELECT
                ft.type1 AS category,
                ft.food_type_id,
                ft.represent_menu AS represent,
                ROW_NUMBER() OVER (PARTITION BY ft.type1 ORDER BY ft.food_type_id ASC) AS rn,
                (
                    SELECT distance
                    FROM StoreFoodTypes
                    WHERE store_category = ft.type2
                    LIMIT 1
                ) AS distance
                FROM food_type ft
                WHERE ft.type2 IN (SELECT store_category FROM StoreFoodTypes)
                GROUP BY ft.type1, ft.type2, ft.food_type_id, ft.represent_menu
        )
        SELECT
            category,
            food_type_id,
            represent,
            distance
        FROM RankedFoodTypes
        WHERE rn = 1
        ORDER BY distance
        ]]>
    </select>


    <!--750미터 이내의 유저가 선택한 카테고리의 가게id 불러오기-->
    <select id="getStores750NearbyAndByCategory" resultType="String">
        <![CDATA[
        SELECT s.store_id
        FROM store s
        JOIN food_type f ON s.category = f.type2
        WHERE ST_DistanceSphere(location, ST_GeomFromText(CONCAT('POINT(', #{currentLong}, ' ', #{currentLat}, ')'), 4326)) <= 750
        AND f.type1 IN (
            SELECT DISTINCT type1
            FROM food_type ft
            WHERE ft.food_type_id in

        ]]>
        <foreach item="category" collection="categories" open="(" separator="," close=")">
            #{category}
        </foreach>
        )
    </select>

    <!--500미터 이내의 유저가 선택한 카테고리의 가게id 불러오기-->
    <select id="getStores500NearbyAndByCategory" resultType="String">
        <![CDATA[
        SELECT s.store_id
        FROM store s
        JOIN food_type f ON s.category = f.type2
        WHERE ST_DistanceSphere(location, ST_GeomFromText(CONCAT('POINT(', #{currentLong}, ' ', #{currentLat}, ')'), 4326)) <= 500
        AND f.type1 IN (
            SELECT DISTINCT type1
            FROM food_type ft
            WHERE ft.food_type_id in
        ]]>
        <foreach item="category" collection="categories" open="(" separator="," close=")">
            #{category}
        </foreach>
        )
    </select>

    <!--250미터 이내의 유저가 선택한 카테고리의 가게id 불러오기-->
    <select id="getStores250NearbyAndByCategory" resultType="String">
        <![CDATA[
        SELECT s.store_id
        FROM store s
        JOIN food_type f ON s.category = f.type2
        WHERE ST_DistanceSphere(location, ST_GeomFromText(CONCAT('POINT(', #{currentLong}, ' ', #{currentLat}, ')'), 4326)) <= 250
        AND f.type1 IN (
            SELECT DISTINCT type1
            FROM food_type ft
            WHERE ft.food_type_id in
        ]]>
        <foreach item="category" collection="categories" open="(" separator="," close=")">
            #{category}
        </foreach>
        )
    </select>


    <resultMap id="storeResultMap" type="StoreDTO">
        <result property="storeId" column="store_id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="distance" column="distance"/>
    </resultMap>

    <select id="getFinalStores" resultMap="storeResultMap">
        SELECT
            s.store_id,
            s.name,
            s.address,
            ST_DistanceSphere(s.location, ST_GeomFromText(CONCAT('POINT(', #{currentLong}, ' ', #{currentLat}, ')'), 4326)) AS distance
        FROM store s
        WHERE s.store_id IN
        <foreach item="storeId" collection="storeIds" open="(" separator="," close=")">
            #{storeId}
        </foreach>
        ORDER BY distance
    </select>

    <resultMap id="menuResultMap" type="MenuDTO">
        <result property="menuName" column="menu_name"/>
        <result property="description" column="description"/>
        <result property="price" column="price"/>
    </resultMap>

    <select id="getMenuInfo" resultMap="menuResultMap">
        <![CDATA[
        SELECT
            m.menu_name,
            m.description,
            m.price
        FROM menu m
        WHERE m.store_id = #{storeId}
            AND (
                (SELECT COUNT(*) FROM menu WHERE store_id = #{storeId} AND represent = 'Y') >= 3 AND m.represent = 'Y'
                OR (SELECT COUNT(*) FROM menu WHERE store_id = #{storeId} AND represent = 'Y') < 3
            )
        ORDER BY m.menu_id
            LIMIT 3
        ]]>
    </select>

    <resultMap id="broadcastResultMap" type="BroadcastDTO">
        <result property="broadcastName" column="broadcast_name"/>
        <result property="episode" column="episode"/>
        <result property="broadcastDate" column="broadcast_date"/>
        <result property="topic" column="topic"/>
    </resultMap>

    <select id="getBroadcastInfo" resultMap="broadcastResultMap">
        SELECT b.broadcast_name, b.episode, b.broadcast_date, b.topic
        FROM broadcast b
        WHERE b.store_id = #{storeId}
    </select>

    <select id="getCategory" resultType="String">
        SELECT f.type1
        FROM food_type f
            JOIN store s ON s.category = f.type2
        WHERE s.store_id = #{storeId}
    </select>

    <!--전체조회쿼리-->
    <resultMap id="finalStoreResultMap" type="StoreDTO">
        <result property="storeId" column="store_id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="lat" column="lat"/>
        <result property="lng" column="lng"/>
        <result property="distance" column="distance"/>
        <result property="category" column="category"/>
        <result property="menus" column="menus" typeHandler="com.nnzz.nnzz.config.handler.JsonbTypeHandler" />
        <result property="broadcasts" column="broadcasts" typeHandler="com.nnzz.nnzz.config.handler.JsonbTypeHandler" />
    </resultMap>
    <select id="getFinalStoresDetail" resultMap="finalStoreResultMap">
        <![CDATA[
        WITH menu_counts AS (
            SELECT store_id, COUNT(*) AS cnt
            FROM menu
            WHERE represent = 'Y'
            GROUP BY store_id
        ),
            menu_data AS (
                SELECT
                    m.store_id,
                    m.menu_name,
                    m.description,
                    m.price,
                    ROW_NUMBER() OVER (PARTITION BY m.store_id ORDER BY m.represent DESC, m.menu_id) AS rn
                FROM menu m
            )
        SELECT
            s.store_id,
            s.name,
            s.address,
            ST_Y(s.location) as lat,
            ST_X(s.location) as lng,
            ST_DistanceSphere(s.location, ST_GeomFromText(CONCAT('POINT(', #{currentLong}, ' ', #{currentLat}, ')'), 4326)) AS original_distance,
            FLOOR(ST_DistanceSphere(s.location, ST_GeomFromText(CONCAT('POINT(', #{currentLong}, ' ', #{currentLat}, ')'), 4326))) AS distance,
            f.type1 AS category,
            f.food_type_id as category_id,
        CASE
            WHEN mc.cnt >= 3 THEN
                COALESCE(jsonb_agg(
                    jsonb_build_object(
                        'menu_name', md.menu_name,
                        'description', md.description,
                        'price', md.price
                    )
                ) FILTER (WHERE md.rn <= 3), '[]'::jsonb)
            ELSE
                COALESCE(jsonb_agg(
                    jsonb_build_object(
                        'menu_name', md.menu_name,
                        'description', md.description,
                        'price', md.price
                    )
                ) FILTER (WHERE md.rn <= 3), '[]'::jsonb)
            END AS menus,
        COALESCE(b.broadcasts, '[]'::jsonb) AS broadcasts
        FROM
            store s
        LEFT JOIN
            (SELECT st.store_id, f.type1, f.food_type_id
             FROM store st
             JOIN food_type f ON st.category = f.type2
             WHERE st.store_id IN
        ]]>
        <foreach item="storeId" collection="storeIds" open="(" separator="," close=")">
            #{storeId}
        </foreach>
        <![CDATA[
             ) f ON s.store_id = f.store_id
        LEFT JOIN
            menu_counts mc ON s.store_id = mc.store_id
        LEFT JOIN
            menu_data md ON s.store_id = md.store_id
        LEFT JOIN
            (SELECT b.store_id, jsonb_agg(b) AS broadcasts
            FROM broadcast b
            GROUP BY b.store_id) b ON s.store_id = b.store_id
        WHERE
            s.store_id in
        ]]>
        <foreach item="storeId" collection="storeIds" open="(" separator="," close=")">
            #{storeId}
        </foreach>
        <![CDATA[
    GROUP BY
        s.store_id, s.name, s.address, s.location, f.type1, mc.cnt, b.broadcasts, f.food_type_id
    ORDER BY
        original_distance
        ]]>
    </select>

    <!--가게 하나 조회 쿼리-->
    <resultMap id="oneStoreResultMap" type="OneStoreDTO">
        <result property="storeId" column="store_id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="lat" column="lat"/>
        <result property="lng" column="lng"/>
        <result property="distance" column="distance"/>
        <result property="category" column="category"/>
        <result property="description" column="category_description"/>
        <result property="menus" column="menus" typeHandler="com.nnzz.nnzz.config.handler.JsonbTypeHandler" />
        <result property="broadcasts" column="broadcasts" typeHandler="com.nnzz.nnzz.config.handler.JsonbTypeHandler" />
    </resultMap>
    <select id="getOneStoreDetail" resultMap="oneStoreResultMap">
        <![CDATA[
        WITH menu_counts AS (
            SELECT store_id, COUNT(*) AS cnt
            FROM menu
            WHERE represent = 'Y'
            GROUP BY store_id
        ),
             menu_data AS (
                 SELECT
                     m.store_id,
                     m.menu_name,
                     m.description,
                     m.price,
                     ROW_NUMBER() OVER (PARTITION BY m.store_id ORDER BY m.represent DESC, m.menu_id) AS rn
                 FROM menu m
             )
        SELECT
            s.store_id,
            s.name,
            s.address,
            ST_Y(s.location) as lat,
            ST_X(s.location) as lng,
            FLOOR(ST_DistanceSphere(s.location, ST_GeomFromText(CONCAT('POINT(', #{currentLong}, ' ', #{currentLat}, ')'), 4326))) AS distance,
            f.type1 AS category,
            f.food_type_id as category_id,
            f.description as category_description,
            CASE
                WHEN mc.cnt >= 3 THEN
                    COALESCE(jsonb_agg(
                                     jsonb_build_object(
                                             'menu_name', md.menu_name,
                                             'description', md.description,
                                             'price', md.price
                                     )
                             ) FILTER (WHERE md.rn <= 3), '[]'::jsonb)
                ELSE
                    COALESCE(jsonb_agg(
                                     jsonb_build_object(
                                             'menu_name', md.menu_name,
                                             'description', md.description,
                                             'price', md.price
                                     )
                             ) FILTER (WHERE md.rn <= 3), '[]'::jsonb)
                END AS menus,
            COALESCE(b.broadcasts, '[]'::jsonb) AS broadcasts
        FROM
            store s
                LEFT JOIN
            (SELECT st.store_id, f.type1, f.food_type_id, f.description
             FROM store st
                      JOIN food_type f ON st.category = f.type2
             WHERE st.store_id = #{storeId}) f ON s.store_id = f.store_id
                LEFT JOIN
            menu_counts mc ON s.store_id = mc.store_id
                LEFT JOIN
            menu_data md ON s.store_id = md.store_id
                LEFT JOIN
            (SELECT b.store_id, jsonb_agg(b) AS broadcasts
             FROM broadcast b
             GROUP BY b.store_id) b ON s.store_id = b.store_id
        WHERE
            s.store_id = #{storeId}
        GROUP BY
            s.store_id, s.name, s.address, s.location, f.type1, mc.cnt, b.broadcasts, f.food_type_id, f.description
        ]]>
    </select>
</mapper>
