<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- UserMapper.xml -->
<mapper namespace="com.nnzz.nnzz.repository.UserMapper">
    <!--현재 유저가 누군지 확인(user_id)-->
    <select id="findUserByUserId" resultType="UserDTO">
        SELECT *
        FROM users
        WHERE user_id=#{userId}
    </select>

    <!--현재 유저가 누군지 확인(login_id)-->
    <select id="findUserByLoginId" resultType="UserDTO">
        SELECT *
        FROM users
        WHERE login_id=#{loginId}
    </select>


    <!--현재 유저가 누군지 확인(email)-->
    <select id="findUserByEmail" resultType="UserDTO">
        SELECT *
        FROM users
        WHERE email=#{email}
    </select>

    <!--유저 추가-->
    <insert id="createUser" parameterType="UserDTO">
        INSERT INTO users (email, nickname, profile_image, gender, age_range)
        VALUES (#{email}, #{nickname}, #{profileImage}, #{gender}, #{ageRange})
    </insert>

    <!--유저 정보 수정-->
    <update id="updateUser" parameterType="UserDTO">
        UPDATE users
        SET
            nickname = #{nickname},
            profile_image = #{profileImage},
            gender = #{gender},
            age_range = #{ageRange},
            last_nickname_change_date =
                CASE
                    WHEN #{nickname} != (SELECT nickname FROM users WHERE user_id = #{userId})
                        THEN NOW()
                    ELSE last_nickname_change_date
                    END
        WHERE user_id = #{userId}
    </update>

    <!--해당하는 이메일의 유저가 있는지를 확인-->
    <select id="existsUserByEmail" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM users
            WHERE email = #{email}
        )
    </select>

    <!--해당하는 닉네임의 유저가 있는지를 확인-->
    <select id="existsUserByNickname" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM users
            WHERE nickname = #{nickname}
        <if test="userId != null">
            AND user_id != #{userId}
        </if>
        )
    </select>


    <!--해당하는 user_id의 유저가 있는지를 확인-->
    <select id="existsUserByUserId" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM users
            WHERE user_id = #{userId}
        )
    </select>
</mapper>