<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- UserLocationMapper.xml -->
<mapper namespace="com.nnzz.nnzz.repository.UserLocationMapper">
    <select id="getUserLocations">
        SELECT
            location_id,
            user_id,
            ST_X(location) as lng,
            ST_Y(location) as lat,
            address,
            created_at
        FROM user_locations ul
        WHERE user_id = #{userId}
        ORDER BY created_at DESC
    </select>

    <select id="countUserLocations" resultType="int">
        SELECT COUNT(*)
        FROM user_locations
        WHERE user_id = #{userId}
    </select>

    <delete id="deleteOldestLocation">
        DELETE FROM user_locations
        WHERE location_id = (
            SELECT location_id
            FROM user_locations
            WHERE user_id = #{userId}
            ORDER BY created_at ASC
            LIMIT 1
            )
    </delete>


    <insert id="insertUserLocation">
        INSERT INTO user_locations (user_id, location, address)
        VALUES (#{userId}, ST_GeomFromText(CONCAT('POINT(', #{lng}, ' ', #{lat}, ')'), 4326), #{address})
    </insert>

    <insert id="openUserLocation">
        INSERT INTO open_request_locations (user_id, location, address)
        VALUES (#{userId}, ST_GeomFromText(CONCAT('POINT(', #{lng}, ' ', #{lat}, ')'), 4326), #{address})
    </insert>

    <select id="checkOpenUserRequest" resultType="boolean">
        SELECT
            CASE WHEN EXISTS (
                SELECT 1
                FROM open_request_locations
                WHERE user_id = #{userId}
                  AND ST_Equals(location, ST_GeomFromText(CONCAT('POINT(', #{lng}, ' ', #{lat}, ')'), 4326))
                  AND address = #{address}
            ) THEN TRUE ELSE FALSE END
    </select>

</mapper>