<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- UserMapper.xml -->
<mapper namespace="com.nnzz.nnzz.repository.UserMapper">
    <!--현재 유저가 누군지 확인-->
    <select id="findUserByUserId" resultType="UserDTO">
        SELECT *
        FROM users
        WHERE user_id=#{userId}
    </select>

    <!--유저 추가-->
    <insert id="createUser" parameterType="UserDTO">
        INSERT INTO users (email, nickname, profile_image, gender, age_range)
        VALUES (#{email}, #{nickname}, #{profileImage}, #{gender}, #{ageRange})
    </insert>

    <!--유저 정보 수정-->
    <update id="updateUser" parameterType="UserDTO">
        UPDATE users
        SET nickname = #{nickname}, profile_image = #{profileImage}, gender = #{gender}, age_range = #{ageRange}
        WHERE user_id = #{userId}
    </update>

    <!--해당하는 이메일의 유저가 있는지를 확인-->
    <select id="existsUserByEmail" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM users
            WHERE email = #{email}
        )
    </select>

    <!--해당하는 닉네임의 유저가 있는지를 확인-->
    <select id="existsUserByNickname" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM users
            WHERE nickname = #{nickname}
        )
    </select>


    <!--해당하는 user_id의 유저가 있는지를 확인-->
    <select id="existsUserByUserId" resultType="boolean">
        SELECT EXISTS (
            SELECT 1
            FROM users
            WHERE user_id = #{userId}
        )
    </select>
</mapper>